body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 56px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 4rem;
}

.login-form {
  position: absolute;
  top: 45%;
  left: 50% ;
  transform: translate(-50%,-50%);
}

.page-container {
  position: relative;
  min-height: 94.2vh;
}

.content-wrap {
  padding-bottom: 4rem;
}

.h1-class {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
}

.loader {
  display: flex;
  width: 100vw;
  height: 100vh;
  z-index: 1040; 
  background-color: rgba(255,255,255,.8);
  cursor: wait;
  position: fixed; 
  left: 0; 
  top: 0;
  justify-content: center;
  align-items: center;
}

.form-group {
  margin-bottom: 1rem;
}

.btn-block {
  display: block;
  width: 100%;
}

.white-box img {
  max-width: 100%;
  max-height: 100%;
}

.ml-auto, .mx-auto {
  margin-left: auto !important;
}

.inline-button {
  margin-right:5px;
}

